html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.register {
  flex-grow: 2;
}

.top p {
  font-size: x-small;
  margin-top: 2%;
  margin-right: 1%;
}

.top {
  margin-right: 2%;
}

.bottom {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

.bottom p {
  font-size: small;
}


.sidecontent {
  background-color: #0000FF;
  color: white;
  padding-top: 25%;
  padding-bottom: 25%;
  width: 33%;
}

.sidecontent h4 {
  margin-left: 25%;
  margin-right: 25%;
  font-size: large;
}
.sidecontent p {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: small;
}



form input {
  margin-bottom: 20px;
}

.password {
  margin-top: 20px;
}








